@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;

  main {
    background-color: #00000008;
  }

  a {
    cursor: pointer;
  }
}

* {
  letter-spacing: 0.24px;
}

:root {
  --root-black: #3b3b3b;
  --root-black-hover: #0000001f;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-primary-button {
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.12));
}
